# Ignore object files
*.o

# Ignore the built binary and ISO files
*.bin
*.iso

# Ignore the build directory
build/
obj/
bin/

# Ignore temporary files and editor backups
*.swp
*.swo
*~
*.bak
*.tmp

# Ignore compile_commands
compile_commands.json
.cache/

# Allow source code, configuration files, and documentation
!boot.s
!kernel.c
!linker.ld
!README.md
