# Ignore object files
*.o
*.d

# Ignore the built binary and ISO files
*.bin
*.iso

# Ignore the build directory
sysroot/
isodir/
# Ignore temporary files and editor backups
*.swp
*.swo
*~
*.bak
*.tmp

compile_commands.json
.nvim.lua
.cache/

# Allow source code, configuration files, and documentation
!boot.s
!kernel.c
!linker.ld
!README.md
